<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rudonews">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RudoNews"
        tools:targetApi="31">
        <activity
            android:name=".modules.menu.profile.privacy_policy.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".modules.menu.profile.terms.TermsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".modules.menu.profile.faq.FaqActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".modules.menu.profile.edit_profile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".modules.menu.news.DescriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.forgotten_password.ForgottenPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menu.MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".modules.change_password.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.register.DepartmentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.splashscreen.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>